

.body {
    margin: 0;
    padding: 0;
    font-family: "inter";

}


.cabeçalho{
    display: flex;
   gap: 50px;
    justify-content: space-between;
    justify-content: center;
    margin-top: 30px;
    

}

.barradepesquisa{
    display: flex;
    width: 400px;
    height: 40px;
    background-color: whitesmoke;
    border-radius: 8px;
    border:none;

}

.lupa{
    
    display: flex;
    align-items: center;
    background-color: none;
    margin-left: 90%;
    margin-top: -35px;
    position: relative;
    
   
    
    

}

.lupabarra{
display: flex;
justify-content: space-between;
align-items: center;
cursor: pointer;


}




.botao1{
    background-color: #fff;
    border: none;
    width: 114px;
    height: 40px;
    text-decoration: underline;

}

.botao2{
    background-color: #C92071;
    width: 114px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
}

.menu button{
    margin-left: 25px;
    margin-top: 50px;
    border: none;
    background-color: #fff

}